body {
border:solid;
border-width:3px;
border-color: white;
background-color:#000000;
font-family:impact;
color:white;
}
#QPIC{
margin-left:19%;
}

h1{
text-align:center;
}

#comments{
margin-top:10%;
text-align:center;
}

footer{
margin-bottom:1%;
text-align:center;
}
#label1{
margin-right:5%;
}

#label3{
margin-right:150%;
}

#label5{
margin-right:15%;
}




#forumrules{
text-align:center;
}

#email{
text-align:center;
font-family:tahoma;
}
